.main {
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - var(--top-bar-height));
    flex-direction: column;
    --table-divider-color: #eff2f5;
    min-width: 1200px;
}

.main button:hover {
    transform: scale(1.5);
    color: #00ff00
}

.table-container {
    margin-top: 0;
    padding: 0;
}

.table-container table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 900px;
}

.table-container table thead td:hover {
    cursor: pointer;
    color: red;
}


/* tr:nth-child(2n) {
    background-color: aliceblue;
} */

body.light tr:hover {
    color: #6188ff;
    background-color: azure;
    outline: 2px solid #6188ff;
    border-radius: 5px;
    filter: drop-shadow(0 0 8px #6188ff);
}

body.dark tr:hover {
    color: #00b67a;
    background-color: rgb(44, 44, 44);
    outline: 2px solid #00b67a;
    border-radius: 5px;
    filter: drop-shadow(0 0 8px green);
}

td {
    width: clamp(80px, 100%, 200px);
    text-align: center;
    padding: 10px;
}

td.name {
    cursor: pointer;
    text-align: left;
}


/* td.name:hover {
    outline: 2px solid rgb(68, 124, 255);
    background-color: rgb(218, 252, 252);
} */

td.name:hover img {
    filter: drop-shadow(0 0 5px #0d6efd);
}

.header_td {
    cursor: pointer;
}

.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    width: 40px;
    height: 40px;
    font-size: 1.8em;
    cursor: pointer;
    user-select: none;
}

body.light .navigation:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px #0d6efd)drop-shadow(0 0 10px #0d6efd);
}

body.dark .navigation:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px #00ff00)drop-shadow(0 0 10px #00ff00);
}

.navigation:active {
    transform: scale(0.95);
}

.navigation.top {
    position: fixed;
    top: 90px;
    left: 10px;
    padding-bottom: 10px;
}

.navigation.bot {
    position: fixed;
    bottom: 90px;
    left: 10px;
    padding-top: 10px;
}

.header_td .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.header_td .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.header_td:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.favorite {
    cursor: pointer;
    font-size: 1.3em;
}

.favorite:hover {
    color: #00ff00;
}

.in_favotite {
    color: yellow;
}

.price_change_td {
    min-width: 180px;
}

.tir_td {
    min-width: 55px;
}