.main {
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - var(--top-bar-height));
    flex-direction: column;
}

.table-container {
    margin: 0;
    padding: 0;
}

.table-container table {
    border-collapse: collapse;
    width: 900px;
}


/* tr:nth-child(2n) {
    background-color: aliceblue;
} */

body.light tr:hover {
    color: #6188ff;
    background-color: azure;
    outline: 2px solid #6188ff;
}

body.dark tr:hover {
    color: #00b67a;
    background-color: azure;
    outline: 2px solid #00b67a;
}

td {
    width: clamp(80px, 100%, 200px);
    text-align: center;
    padding: 10px;
}

td.name {
    cursor: pointer;
    text-align: left;
}


/* td.name:hover {
    outline: 2px solid rgb(68, 124, 255);
    background-color: rgb(218, 252, 252);
} */

td.name:hover img {
    filter: drop-shadow(0 0 5px #0d6efd);
}

.header_td {
    cursor: pointer;
}

.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #1976d2;
    width: 40px;
    height: 40px;
    font-size: 1.8em;
    color: white;
    cursor: pointer;
    user-select: none;
}

.navigation:hover {
    outline: 1px solid black;
    transform: scale(1.05);
}

.navigation:active {
    transform: scale(0.95);
}

.navigation.bot {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding-top: 10px;
}

.navigation.top {
    position: fixed;
    top: 90px;
    left: 10px;
    padding-bottom: 10px;
}